@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Seja Bem Vindo Ao Meu Síte Asp.NET Core MVC! </p>
    <p>Volte Sempre!</p>
</div>
