@model HomeModel


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo, @Model.Nome</h1>
    <p>Seja Bem Vindo Ao Meu Síte Asp.NET Core MVC! </p>
    <span> Email : @Model.Email </span>
    
    <p>Volte Sempre!</p>
</div>
