@{
    ViewData["Title"] = "Biografia";
}


<div class="text-center">
    <h1><p>Olá! Eu Sou o Lukas!</p></h1>

    <h5>
   
       <p>Formado em Analise e Desenvolvimento de Sistemas</p> 
       <p>Endereço : Rua Nicolau Tolentino de Almeida 99, São Paulo - SP</p>
       <p>Contato: (11) 97663-2265 // Email: Lukas.mota@outlook.com</p>
   
    </h5>
</div>
<br/>

<h3>
    <p><h3>Stack de programação:</h3></p>
<p>Programação Orientada a Objeto</p>
<p>Tratamento de Exceções</p>
<p>Desenvolvimento .NET / Asp.Net</p>
<p>Linguagem de Programação CSharp</p>
<p>MVC & Clean Code</p>

    <p><h3>Conhecimento em Banco de dados</h3></p>
<p>MySQL</p>
<p>Oracle</p>
<p>SQL Server</p>
<p>Linguagem de Programação SQL</p>

    <p><h3>Versionamento de Código</h3></p>
<p>Git & GitHub</p>
</h3>

